<!-- manufacturer-list.component.html -->
<h3>Customer Orders: </h3>
<div class="customer-list">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of customerOrders$()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ item.name }}
          </mat-panel-title>
          <mat-panel-title>
            {{ item.date | date: 'longDate'}}
          </mat-panel-title>
          <mat-panel-title>
            {{ item.finalAmount | currency:'INR' }}
          </mat-panel-title>
          <div class="d-flex">
          <mat-panel-title>
            <mat-icon (click)="$event.stopPropagation()">edit</mat-icon>
          </mat-panel-title>
          <mat-panel-title>
          <mat-icon (click)="$event.stopPropagation()">delete</mat-icon>
          </mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <div class="products-list">
          <div *ngFor="let manufacturer of item.items">
            <h4>{{ manufacturer.name }}</h4>
            <table mat-table [dataSource]="manufacturer.products">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Product Name </th>
                <td mat-cell *matCellDef="let product"> {{ product.name }} </td>
              </ng-container>

              <ng-container matColumnDef="rate">
                <th mat-header-cell *matHeaderCellDef> Client Rate </th>
                <td mat-cell *matCellDef="let product"> {{ product.customerRate | currency:'INR' }} </td>
              </ng-container>

              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let product"> {{ product.quantity }} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  