<table mat-table [dataSource]="customerProducts$()" multiTemplateDataRows class="mat-elevation-z8 full-width">

  <!-- Manufacturer Name -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Customer Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Margin Percentage -->
  <ng-container matColumnDef="marginPercentage">
    <th mat-header-cell *matHeaderCellDef> Margin % </th>
    <td mat-cell *matCellDef="let element"> {{element.marginPercentage}}% </td>
  </ng-container>

  <!-- Outstanding -->
  <ng-container matColumnDef="outstanding">
    <th mat-header-cell *matHeaderCellDef> Outstanding </th>
    <td mat-cell *matCellDef="let element"> {{element.outstanding}} </td>
  </ng-container>

  <!-- Expand Button -->
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="toggle(element); $event.stopPropagation()"
              [class.expanded]="isExpanded(element)">
        <mat-icon>{{isExpanded(element) ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expanded Row for Products Table -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div *ngIf="isExpanded(element)" class="child-table-wrapper">
        @if (element.customerProducts.length > 0) {
        <table mat-table [dataSource]="element.customerProducts" class="mat-elevation-z1 child-table">

          <!-- Product Name -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Product Name </th>
            <td mat-cell *matCellDef="let product"> {{product.productId.name}} </td>
          </ng-container>

          <!-- Rate -->
          <ng-container matColumnDef="rate">
            <th mat-header-cell *matHeaderCellDef> Rate </th>
            <td mat-cell *matCellDef="let product"> {{product.productId.rate}} </td>
          </ng-container>

          <!-- Distributor Rate -->
          <ng-container matColumnDef="distributorRate">
            <th mat-header-cell *matHeaderCellDef> Distributor Rate </th>
            <td mat-cell *matCellDef="let product"> {{product.productId.distributorRate}} </td>
          </ng-container>

          <!-- customer Rate -->
          <ng-container matColumnDef="customerRate">
            <th mat-header-cell *matHeaderCellDef> Customer Rate </th>
            <td mat-cell *matCellDef="let product"> {{product.customerRate}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="productColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: productColumns;"></tr>
        </table>
      } @else {
        <div class="no-products-message">
          No products available for this customer.
        </div>
      }
      </div>
    </td>
  </ng-container>

  <!-- Main Table Rows -->
  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="parent-row"
      (click)="toggle(element)"></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="expanded-row" [hidden]="!isExpanded(row)"></tr>

</table>
