<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Distributors Portal</span>
  <span class="spacer"></span>
  <nav *ngIf="!(isHandset$ | async)">
    <button mat-button routerLink="/customers">Customers</button>
    <button mat-button routerLink="/distributors">Distrubutors</button>
    <button mat-button routerLink="/manufacturer">Manufacturer</button>
    <button mat-button routerLink="/order">Orders</button>
    <button mat-button routerLink="/invoice">Invoice</button>
  </nav>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [opened]="false" (closedStart)="onClose()">
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="sidenav.close()"></a>
      <a mat-list-item routerLink="/customers" (click)="sidenav.close()"
        >Customers</a
      >
      <a mat-list-item routerLink="/distributors" (click)="sidenav.close()"
        >Distributors</a
      >
      <a mat-list-item routerLink="/manufacturer" (click)="sidenav.close()"
        >Manufacturer</a
      >
      <a mat-list-item routerLink="/order" (click)="sidenav.close()">Orders</a>
      <a mat-list-item routerLink="/invoice" (click)="sidenav.close()">Invoice</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
