<div class="container py-5 my-5 border rounded shadow">
  <div class="d-flex gap-3 mb-4">
    <button type="button" class="btn btn-primary" (click)="action = 'customer'">Create Customer</button>
  </div>
 @switch (action) {
      @case ('customer') {
        <app-create-customer (shareData)="getSharedData($event)"></app-create-customer>
      }
      @case ('customerProduct') {
        <app-customer-products (shareData)="getSharedData($event)"></app-customer-products>
      }
      @default {

      }
    }
    <app-customer-product-list></app-customer-product-list>
   
</div>
