.spacer {
    flex: 1 1 auto;
  }
  
  mat-sidenav-container {
    height: 100%;
  }
  
  mat-toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  
  mat-sidenav-content {
    margin-top: 64px; /* Adjust based on your toolbar height */
    padding: 16px;
  }
  