<mat-card class="card-container">
  <mat-card-header>
    <mat-card-title>Create Manufacturer</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      class="manufacturer-container"
      [formGroup]="manufacturerForm"
      (ngSubmit)="saveManufacturer()"
    >
      <div class="row-1">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Manufacturer Name</mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngIf="manufacturerForm.get('name')?.hasError('required')">
            Manufacturer Name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Outstanding Amount</mat-label>
          <input matInput type="number" formControlName="outstandingAmount" />
        </mat-form-field>
      </div>
      <div
        class="products"
        formArrayName="products"
        *ngFor="
          let productGroup of productsArray.controls;
          let i = index;
          let last = last
        "
      >
        <div [formGroupName]="i" class="product-group">
          <!-- <mat-form-field appearance="outline" class="full-width">
            <mat-label>Product ID</mat-label>
            <input matInput formControlName="productId" />
            <mat-error
              *ngIf="productGroup.get('productId')?.hasError('required')"
            >
              Product ID is required
            </mat-error>
          </mat-form-field> -->

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Product Name</mat-label>
            <input matInput formControlName="name" />
            <mat-error *ngIf="productGroup.get('name')?.hasError('required')">
              Product Name is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Rate</mat-label>
            <input matInput type="number" formControlName="rate" />
            <mat-error *ngIf="productGroup.get('rate')?.hasError('required')">
              Rate is required
            </mat-error>
          </mat-form-field>
        </div>
          @if (last) {
          <div class="add-delete">
            <button
              mat-icon-button
              (click)="removeProduct(i)"
              class="delete-button mr-r"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-mini-fab (click)="addProduct()" class="add-button">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          }
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!manufacturerForm.valid"
    >
      Save Manufacturer
    </button>
  </mat-card-actions>
</mat-card>
