<mat-card class="card-container mb-5">
  <mat-card-header>
    <mat-card-title>Create Customer Products</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      class="manufacturer-container"
      [formGroup]="customerProductForm"
    >
      <div class="row-1">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Customer Name</mat-label>
          <mat-select formControlName="customerId" name="customerId" (selectionChange)="showPercentage($event.value)">
            @for (customer of customers(); track customer) {
              <mat-option [value]="customer._id">{{customer.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <span>Margin Percentage: {{marginPercentage}}</span>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Manufacturer Name</mat-label>
          <mat-select formControlName="manufacturerId" name="manufacturerId">
            @for (manu of manufacturers(); track manu) {
              <mat-option [value]="manu._id">{{manu.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div
        class="products"
        formArrayName="products"
        *ngFor="
          let productGroup of productsArray.controls;
          let i = index;
          let last = last
        "
      >
        <div [formGroupName]="i" class="product-group">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Product Name</mat-label>
            <mat-select formControlName="product" name="product" (selectionChange)="calculateRate(i, $event.value)">
              @for (product of products(); track product) {
                <mat-option [value]="product">{{product.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <!-- fetch current value of formControlName product in a span -->
           <span>MRP: </span>
          <span class="product-value">
            {{ productGroup.get('product')?.value?.rate }}</span>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Rate</mat-label>
            <input matInput type="number" formControlName="customerRate" />
            <mat-error *ngIf="productGroup.get('customerRate')?.hasError('required')">
              Rate is required
            </mat-error>
          </mat-form-field>
        </div>
          @if (last) {
          <div class="add-delete">
            <button
              mat-icon-button
              (click)="removeProduct(i)"
              class="delete-button mr-r"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-mini-fab (click)="addProduct()" class="add-button">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          }
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="m-2 gap-2 actions">
    <button
      mat-raised-button
      color="primary"
      type="button"
      [disabled]="!customerProductForm.valid"
      (click)="save()"
    >
      Save
    </button>
    <button
    mat-stroked-button
      color="primary"
      type="button"
      (click)="cancel()"
    >
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
