<mat-card class="card-container">
  <mat-card-header>
    <mat-card-title>Create Customer Products</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      class="manufacturer-container"
      [formGroup]="customerProductForm"
    >
      <div class="row-1">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Customer Name</mat-label>
          <mat-select formControlName="customerId" name="customerId">
            @for (customer of customers(); track customer) {
              <mat-option [value]="customer.id">{{customer.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Manufacturer Name</mat-label>
          <mat-select formControlName="manufacturerId" name="manufacturerId">
            @for (manu of manufacturers(); track manu) {
              <mat-option [value]="manu.id">{{manu.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div
        class="products"
        formArrayName="products"
        *ngFor="
          let productGroup of productsArray.controls;
          let i = index;
          let last = last
        "
      >
        <div [formGroupName]="i" class="product-group">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Product Name</mat-label>
            <mat-select formControlName="productId" name="productId">
              @for (product of products(); track product) {
                <mat-option [value]="product.productId">{{product.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Rate</mat-label>
            <input matInput type="number" formControlName="rate" />
            <mat-error *ngIf="productGroup.get('rate')?.hasError('required')">
              Rate is required
            </mat-error>
          </mat-form-field>
        </div>
          @if (last) {
          <div class="add-delete">
            <button
              mat-icon-button
              (click)="removeProduct(i)"
              class="delete-button mr-r"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-mini-fab (click)="addProduct()" class="add-button">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          }
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="save()"
    >
      Save
    </button>
  </mat-card-actions>
</mat-card>


<!-- <mat-card>
<mat-accordion>
  <mat-expansion-panel *ngFor="let manufacturer of manufacturers()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ manufacturer.name }}
      </mat-panel-title>
      <mat-panel-description>
        Outstanding: {{ manufacturer.outstanding | currency }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list dense>
      <mat-list-item *ngFor="let product of manufacturer.products">
        <div matLine>{{ product.name }}</div>
        <div matLine>Rate: {{ product.rate | currency }}</div>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
</mat-card> -->

<mat-accordion>
  <mat-expansion-panel *ngFor="let manufacturer of manufacturers()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ manufacturer.name }}
      </mat-panel-title>
      <mat-panel-description>
        Outstanding: {{ manufacturer.outstanding | currency }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <table mat-table [dataSource]="manufacturer.products" class="mat-elevation-z8">

      <!-- Product Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Product Name </th>
        <td mat-cell *matCellDef="let product"> {{ product.name }} </td>
      </ng-container>

      <!-- Rate Column -->
      <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef> Rate </th>
        <td mat-cell *matCellDef="let product"> {{ product.rate | currency }} </td>
      </ng-container>

      <!-- Header Row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <!-- Data Row -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-expansion-panel>
</mat-accordion>
