/* Colors */

:root {
  --white: #ffffff;
  --black: #000000;
  --dull_black: #333333;
  --text_primary: #5a5a5a;
  --text_secondary: #8a8a8a;
  --primary_blue: #0073e7;
  --border_gray: #dcdcdc;
  --pale_primary_blue: #eef2ff;
  --danger: #dc3838;
  --active_selection: #f4f7fe;
  --light-grey: #f6f6f6;
}
